@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --foreground: #171717;
}

@layer base {
  .font-signature {
    /* font-family: 'Dancing Script', cursive; */
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px black; /* Viền đen */
  }

  .text-stroke-2 {
    -webkit-text-stroke: 2px black; /* Viền dày hơn */
  }

  .text-stroke-white {
    -webkit-text-stroke: 2px white;
  }

  .text-stroke-pink {
    -webkit-text-stroke: 2px hotpink;
  }

  .text-stroke-glow {
    -webkit-text-stroke: 2px #ff0000;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100%;
  color: var(--foreground);
  height: 100%;
  background: var(--background);
  /* font-family: Playpen Sans, cursive; */
}

@media (min-width: 768px) {
  body {
    font-family: Playpen Sans, cursive;
  }
}

/* 3D rotate y-axis */
@layer utilities {
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
  .-rotate-y-180 {
    transform: rotateY(-180deg);
  }
  .perspective-\[1500px\] {
    perspective: 1500px;
  }
}


/* Ẩn scrollbar nhưng vẫn scroll được */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
  overflow: hidden; 
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes subtle-scale {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.03); }
  100% { transform: scale(1); }
}
.animate-subtle-scale { animation: subtle-scale 2.5s ease-in-out infinite; }

